GOrder1.3.41/附圖1.PNG
GOrder1.3.41/若無法開啟請看這裡.txt
GOrder1.3.41/GOrder_v1.3.41.txt
GOrder1.3.41/GOrder.exe
GOrder1.3.41/readme.txt
GOrder1.3.41/Thumbs.db
GOrder1.3.41/API/使用前請先看說明.txt
GOrder1.3.41/API/CTSecuritiesATL.dll
GOrder1.3.41/API/FSCryptDLL.dll
GOrder1.3.41/API/Install.bat
GOrder1.3.41/API/Interop.PolarisB2BAPI.dll
GOrder1.3.41/API/Interop.SKCOMLib.dll
GOrder1.3.41/API/libsolclient.dll
GOrder1.3.41/API/PolarisB2BAPI.dll
GOrder1.3.41/API/SKCOM.dll
GOrder1.3.41/API/SKTradeLib.dll
GOrder1.3.41/API/Uninstall.bat
GOrder1.3.41/CMD/FutureRights.exe
GOrder1.3.41/CMD/GetAccount.exe
GOrder1.3.41/CMD/GetInStock.exe
GOrder1.3.41/CMD/GetUnfinished.exe
GOrder1.3.41/CMD/MatchAccount.exe
GOrder1.3.41/CMD/Order.exe
__pycache__/Talib_GetData.cpython-37.pyc
